* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{
  --gap:.5em;
  --index: calc(1vw + 1vh)
  --color-dark: black;
}



 header{
  position: absolute;
  left: 50%;
  top:98px;
  transform: translate(-50%, -50%);
  height: 180px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  opacity: 0.7;
  z-index: 10000;
}

nav {
  
  font-family: Lato, serif;
  margin-top: 60px;
  font-size: 30px;
}

ul {
  height: 96px;
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  margin:30px ;
}

li > a {
  color: rgb(38, 102, 158);
  text-decoration: none;
} 

main {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: .1em;
	font-size: calc(var(--index) * 2.8);
	position: absolute;
	font-weight: 200;
	text-align: center;
	opacity: .9;
	margin-top: .2em;
}

.header span {
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: calc(var(--index) * .75);
	margin-top: 5px;
}

.gallery {
	width: 30vw;
	column-width: 2em;
	gap: var(--gap);
	transform: scale(25);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s, color 1s;
}

.gallery__item {
  position: relative;
	margin-bottom: var(--gap);
	transform: scale(1.001);
	will-change: transform;
	transition: .3s;
  color: rgb(255, 255, 255);
}

.gallery__item:hover {
	transform: scale(1.03);
  color: blue;
}

.gallery__item img {
	width: 100%;
	display: block;
}

.loaded .gallery {
	opacity: 1;
}

.loaded .header span {
	opacity: 0;
}

.description{
  position: absolute;
  left: -19px;
  top: 11.7px;

  transform: scale(.1);
  z-index: 400000;
  opacity: 1;
}

/* DARK MODE OS */

@media (prefers-color-scheme: dark) {
	main {
		background-color: var(--color-dark);
	}
	.header {
		filter: invert(100%);
	}
}

/* MOBILE */

@media (max-width : 992px) {

	.header {
		position: relative;
	}

	main {
		overflow: scroll;
		display: block;
		padding: var(--gap);
	}

	.gallery {
		width: 100%;
		column-width: 10em;
		transform: scale(1);
	}
	.gallery__item:hover {
		transform: scale(1);
	}

}
